[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
starlette = "*"
uvicorn = "*"
pyjwt = "*"
sqlalchemy = "*"
bcrypt = "*"
python-dotenv = "*"
marshmallow = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.10"
